.pokedex-background {
  width: 100%;
  max-width: 700px;
}

.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

main{
  display: inline-block;
  margin-top: 2%;
  position: relative;
}

.search-container{
  position: absolute;
  width: 30%;
  bottom: 20%;
  left: 6%;
  display: flex;
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;  
}

.search-container input{
  width: 100%;
  padding: 2%;
  outline: none;
  border: 2px solid #333;
  border-radius: 5px;
  font-weight: 600;
  color: #3a444d;
  font-size: clamp(8px, 5vw, 1rem);
  box-shadow: 2px 3px 0 #491559, 2px 2px 0 #491559;
}

.button-search{
  padding: 2%;
  border: 2px solid #000;
  border-radius: 5px;  
  background-color: #444;
  box-shadow: 2px 3px 0 #491559, 2px 2px 0 #491559;
  color: aliceblue;
}

.buttons {
  position: absolute;
  bottom: 13%;
  left: 30%;
  width: 35%;
  display: flex;
  gap: 10px;
}

.button{
  width: 15%;
  padding: 2px;
  border: 2px solid #000;
  border-radius: 5px;  
  background-color: #444;
  box-shadow: 2px 3px 0 #491559, 2px 2px 0 #491559;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

.img-button{
  width: 40%;
}

.button:active {
  box-shadow: inset 2px 2px 0 #000;
  font-size: 0.9rem;
}
.button-search:active {
  box-shadow: inset 2px 2px 0 #000;
  font-size: 0.9rem;
}

.pokemon-name{
  position: absolute;
  bottom: 30.5%;
  left: 15%;
  font-size: 1.3rem;
  color: #444;
  text-transform: capitalize;
}

.weight{
  position: absolute;
  bottom: 13%;
  left: 59%;
  font-size: 0.7rem;
  color: white;
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 13%;
}
.height{
  position: absolute;
  bottom: 13%;
  left: 79%;
  font-size: 0.7rem;
  color: white;
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 13%;
}